

.card {
    border-radius: 30px;
    margin: 20px;
}

.card-header {
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.form-control,
.form-select {
    border-radius: 10px;
}

button {
    border-radius: 8px;
}

button:hover {
    opacity: 0.9;
}